@import '../../styles/abstracts/variaveis';

.BoxInfoPesquisa{
    padding: 0.5rem;

    .SubBoxInfoPesquisa{
        background: $background-padrao;
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: space-between;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
        color: $fonte-padrao;
        font-size: 18px;

        .BoxInfo{
            
            .InfoPais{
                display: flex;
    
                img{
                    width: 20px;
                    height: 20px;
                    margin: 0 5px;
                }
            }
    
            .InfoTemporada{
                display: flex;
                margin: 1rem 0;
    
                .Temporada{
                    margin-left: 5px;
                }
            }
    
            .InfoLiga{
                display: flex;
    
                img{
                    width: 25px;
                    height: 25px;
                    margin: 0 5px;
                }
            }

            .LimparSelecao{
                font-size: 15px;
                font-weight: bold;
                margin-top: 1rem;
                padding: 0.1rem .3rem;
                cursor: pointer;
                border: none;
                border-radius: 5px;
            }
        }

        .BotaoPesquisar{
            width: 100px;
            height: 100px;
            font-size: 17px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}