@import '../../styles/abstracts/variaveis';

.BoxEstatisticas{
    padding: 0.5rem;
    display: flex;
    justify-content: center;

    .SubBoxEstatisticas{
        background: $background-padrao;
        padding: 1rem 0.5rem;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
        color: $fonte-padrao;
        font-size: 18px;
        width: 100vw;
        max-width: 1024px;

        .SecVoltar{
            margin-bottom: 2rem;
            button{
                padding: 0.2rem 0.5rem;
                font-size: 18px;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    background: #fff;
                }
            }
        }

        .SecInfoTime{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 150px;
                margin-bottom: 10px;
            }

            .Estatisticas{
                h2{
                    margin-bottom: 1rem;
                    font-size: 30px;
                }
                p{
                    font-size: 22px;
                }
            }
        }

        .Grafico{
            margin-bottom: 0.2rem;
        }

        .ListaJogadores{
            .BoxCardsJogadores{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}

@media (min-width: 1024px){
    .BoxEstatisticas{
        .SubBoxEstatisticas{
            .SecVoltar{
                button{
                    font-size: 25px;
                }
            }
            .SecInfoTime{
                img{
                    width: 200px;
                }
                .Estatisticas{
                    h2{
                        font-size: 45px;
                    }
                    p{
                        font-size: 30px;
                    }
                }
            }

            .Grafico{
                h3{
                    font-size: 30px;
                }
            }

            .ListaJogadores{
                h3{
                    font-size: 30px;
                }
            }
        }
    }
}