@import '../../styles/abstracts/variaveis';

.BoxInfoConta{
    padding: 0.5rem;
    display: flex;
    justify-content: center;

    .SubBoxInfoConta{
        background: $background-padrao;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
        width: 100vw;
        max-width: 1024px;

        .ImagemBanner{
            width: 7rem;
        }

        .InfoConta{
            color: $fonte-padrao;
            font-size: 13px;
            text-align: right;

            .BotaoSair{
                cursor: pointer;
                padding: 0.1rem;
                font-size: 18px;
                font-weight: bold;
                width: 55px;
                border: none;
                border-radius: 5px;
                margin-top: 0.7rem;
                &:hover{
                    background: #fff;
                }
            }
        }
    }    
}

@media (min-width: 1024px){
    .BoxInfoConta{
        .SubBoxInfoConta{
            .ImagemBanner{
                width: 11rem;
            }
            .InfoConta{
                font-size: 19px;

                .BotaoSair{
                    font-size: 25px;
                }
            }
        }
    }
}